.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    transform: translateX(-50%);
    top: 7vh;
    left: 50%;
    width: 30%;
    background: white;
    padding: 1rem;
    border-radius: 14px;
    z-index: 30;
    
}


.content {
    /* width: 400px; */
    border-radius: 5rem;
}